<h1>Experience</h1>
<div class="col-md-12">
  <div class="panel panel-default xppanel">
    <!-- Heading -->
    <div class="panel-heading head">
      <div class="panel-title title">
        <div class="div-left">
          <h4>WebDeveloper</h4>
        </div>
        <div class="folded">
          <h2><span> <%= link_to image_tag("123.png" , alt: "123 logo", :class => "img-responsive imglogo") %></span></h2>
          <!-- <h2><img class="img-responsive" src="123.png" width="50px"></h2> -->
        </div>
      </div>
    </div>
    <!-- /Heading -->
    <!-- Body -->
    <!-- Company -->
    <div class="panel-body">
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h4>Responsibilities</h4>
        <ul class="xplist">
          <li>Designing, Implementing, Customizing and Maintaining website using various CMS like Word Press, Magento and Open cart</li>
          <li>Maintained the current website and added more appealing features. Redesigned sections of the website to ensure a more attractive and user friendly experience</li>
          <li>Validated site by testing JavaScript, Flash, CSS3, and HTML5 codes to ensuring cross-platform compatibility</li>
          <li>Designed custom graphics such as image, logo etc. Updated website content on a daily basis Updating the existing Word Press site by adding new plug-in and setting up the site as per business requirement</li>
        </ul>
      </div>
      <!-- /project -->        
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project - 3 : <%= link_to ('Baw Baw Physicians').html_safe, 'http://12three.com.au/development/bawbawphysicians', :target=>"_blank" %></h3>
        <p>WordPress sites for Baw-Baw Physicians. Baw-Baw physicians updated their website in Word Press. This is under construction.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p>Word Press, HTML, CSS</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Responsibilities</h4>
          <ul class="xplist">
            <li>Setup the theme from scratch in Cpanel</li>
            <li>Setup Word Press plug-in in the admin</li>
            <li>Perform activities to optimize websites for search engine optimization</li>
          </ul>
        </div>
      </div>
      <!-- /project -->
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project - 2 : Tile Rescue-Landing Page <%= link_to ('Forster Suburb ').html_safe, 'http://www.forster.tilerescue.com.au', :target=>"_blank" %></h3>
        <p>WordPress e-commerce sites for tile and grout cleaning company. Tile Rescue is an Australia’s one of the leading tile, grout cleaning and maintenances group. Tile rescue updated their website in Word Press. This application involves creating landing page for their each suburb.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p>Word Press, HTML5, CSS3, LESS/SASS</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Responsibilities</h4>
          <ul class="xplist">
            <li>Manipulate Word Press websites</li>
            <li>Add Word Press plug-in in according to customers’ needs</li>
            <li>Perform browser compatibility </li>
            <li>Perform activities to optimize websites for search engine optimization</li>
          </ul>
        </div>
      </div>
      <!-- /project -->
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project - 1 : <%= link_to ('Interhampers').html_safe, 'https://store.interhampers.com.au', :target=>"_blank" %></h3>
        <p>Magento2.0 e-commerce website for a gift hampers Distribution Company. Interhampers Australia is firmly recognized as the largest gift hamper manufacturer in Australia, who is now updating their website as a responsive site and shipping to multiple places.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p>Magento, HTML5, CSS3, AJAX, SCSS</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Responsibilities</h4>
          <ul class="xplist">
            <li>Populate the contents in the site and modifying the images and is alignments</li>
            <li>Setup the site as in the mock-up and also the shipping and payment accounts</li>
            <li>Admin store account with product, order and invoice settings</li>
            <li>Developing for multiple shipping with personalized message</li>
            <li>Bulk order script was designed by SCSS</li>
            <li>Creating bulk order template with manipulation option using PHP</li>
            <li>Developed RESTful style web services to manipulate dynamic JSON datasets using AJAX calls</li>
            <li>Performed server code optimization using PHP, Expanded existing MVC model</li>
          </ul>
        </div>
      </div>
      <!-- /project -->
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project - Other</h3>
        <p>Modified changes required by the client to update Navigation menu to Mega menu and site theme.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p>Magento, HTML5, CSS3, AJAX, MySql</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Website Links</h4>
          <ul class="xplist">
            <li>Setup Mega menu in <%= link_to ('Batmans Hill').html_safe, 'http://www.batmanshill.com.au/dev-2017/', :target=>"_blank" %> and <%= link_to ('Sofasdirect').html_safe, 'http://www.sofasdirect.com.au/', :target=>"_blank" %> sites</li>
            <li>Theme upgrades error fixing in <%= link_to ('Organic crew').html_safe, 'https://organiccrew.com.au/', :target=>"_blank" %>  site</li>
          </ul>
        </div>
      </div>
      <!-- /project -->
    </div>
    <!-- /Body -->
    <!-- Footer -->
    <div class="panel-footer xpfooter">
      <p>JULY 2016 – TILLDATE</p>
    </div>
    <!-- /Footer -->
  </div>
  <!-- /Company -->
  <!-- Company -->
  <div class="panel panel-default xppanel">
    <!-- Heading -->
    <div class="panel-heading head">
      <div class="panel-title title">
        <div class="div-left">
          <h4>Manual Tester</h4>
        </div>
        <div class="folded">
          <h2><span> <%= link_to image_tag("ichip.png" , alt: "iChip logo", :class => "img-responsive imglogo") %></span></h2>
          <!-- <h2><img class="img-responsive" src="123.png" width="50px"></h2> -->
        </div>
      </div>
    </div>
    <!-- /Heading -->
    <!-- Body -->
    <div class="panel-body">
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project : <%= link_to ('8HoursJob').html_safe, 'http://www.8hourjobs.com.au/', :target=>"_blank" %></h3>
        <p>8hourjobs.com.au is a unique web site that provides opportunity for the job seekers to apply for jobs in different types of industries and employer to post the job vacancies available.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p>GitHub, Quality Center, Microsoft Test Manager</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Responsibilities</h4>
          <ul class="xplist">
            <li>Responsible for testing Web based application using both Manual and Automation testing.</li>
            <li>Responsible in designing and executing the automation scripts using Selenium WebDriver.</li>
            <li>Executed test cases to validate the functionality and transactions using HP Quality Centre.</li>
            <li>Experience in using Test case frame works like Junit/Java.</li>
            <li>Prepared test scenarios, traceability matrix, and producing summary report.</li>
            <li>Performed UAT regression testing after the defects were fixed.</li>
            <li>Documented the defects in Quality Center and assigned them to relevant developer.</li>
            <li>Sound knowledge about Software Testing Methods such as White box testing, Black box testing, Gray box testing, Unit testing, Integration testing, Regression testing, Usability testing, Performance testing, Scalability testing, Software stress testing, and Functional testing.</li>
            <li>Agile methodology was practiced.</li>
          </ul>
        </div>
      </div>
      <!-- /project -->
    </div>
    <!-- /Body -->
    <!-- Footer -->
    <div class="panel-footer xpfooter">
      <p>JUNE 2015 – SEPTEMBER 2015</p>
    </div>
    <!-- /Footer -->
  </div>
  <!-- /Company -->
  <!-- Company -->
  <div class="panel panel-default xppanel">
    <!-- Heading -->
    <div class="panel-heading head">
      <div class="panel-title title">
        <div class="div-left">
          <h4>Manual Tester</h4>
        </div>
        <div class="folded">
          <h2><span> <%= link_to image_tag("cpa.png" , alt: "CPA logo", :class => "img-responsive imglogo") %></span></h2>
          <!-- <h2><img class="img-responsive" src="123.png" width="50px"></h2> -->
        </div>
      </div>
    </div>
    <!-- /Heading -->
    <!-- Body -->
    <div class="panel-body">
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project : <%= link_to ('Member First').html_safe, 'https://www.cpaaustralia.com.au', :target=>"_blank" %></h3>
        <p>Member first is a client relationship management system which incorporated Event creation, foundation, professional, product pricing, billing and payments for their customers. With the company currently using Microsoft's Dynamic CRM to maintain their internal data an SOA (Service Oriented Architecture) layer was created to handle communication between CRM and a list of client applications.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p>MVC, .Net, CRM, TFS, MTM</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Responsibilities</h4>
          <ul class="xplist">
            <li>Writing Test cases using user story and actively involved in reviewing test cases</li>
            <li>Writing, reviewing, updating and executing the test cases using MTM and TFS testing tools and raising defects using MTM tool</li>
            <li>Executing Integration Test Cases in SIT environment for CPA Australia website along with that involved in functional and regression testing</li>
            <li>Resolving the issues quicker by discussing with developers</li>
            <li>Gathering requirements with the business analyst when the requirements are not clear enough</li>
            <li>Conducted compatibility testing with different browsers & platforms </li>
            <li>Attending Daily Stand Up’s and meetings for the status updates </li>
            <li>Agile (Kanban) methodology was practiced</li>
          </ul>
        </div>
      </div>
      <!-- /project -->
    </div>
    <!-- /Body -->
    <!-- Footer -->
    <div class="panel-footer xpfooter">
      <p>MARCH 2013 – JULY 2013</p>
    </div>
    <!-- /Footer -->
  </div>
  <!-- /Company -->
  <!-- Company -->
  <div class="panel panel-default xppanel">
    <!-- Heading -->
    <div class="panel-heading head">
      <div class="panel-title title">
        <div class="div-left">
          <h4>Web Developer</h4>
        </div>
        <div class="folded">
          <h2><span> <%= link_to image_tag("ppg.png" , alt: "PPG logo", :class => "img-responsive imglogo") %></span></h2>
          <!-- <h2><img class="img-responsive" src="123.png" width="50px"></h2> -->
        </div>
      </div>
    </div>
    <!-- /Heading -->
    <!-- Body -->
    <div class="panel-body">
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project - 1: <%= link_to ('Loxo').html_safe, 'http://loxo.com.au', :target=>"_blank" %></h3>
        <p>Website design and developed for a builder located in Dandenong.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p>HTML, CSS, Photoshop</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Responsibilities</h4>
          <ul class="xplist">
            <li>Design and develop the website</li>
            <li>Customized the downloaded template</li>
            <li>Used bootstrap and typography</li>
          </ul>
        </div>
      </div>
      <!-- /project -->
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project - 2: MaxiSew </h3>
        <p>Web based application developed for sewing machine spare parts seller.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p>PHP, MySql, HTML, CSS, JavaScript</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Responsibilities</h4>
          <ul class="xplist">
            <li>Design and development</li>
            <li>Relevant spare part with the sewing machine model picture and its user PDF guide</li>
            <li>Location of the spare parts</li>
          </ul>
        </div>
      </div>
      <!-- /project -->
    </div>
    <!-- /Body -->
    <!-- Footer -->
    <div class="panel-footer xpfooter">
      <p>JUNE 2011 – JULY 2012</p>
    </div>
    <!-- /Footer -->
  </div>
  <!-- /Company -->
  <!-- Company -->
  <div class="panel panel-default xppanel">
    <!-- Heading -->
    <div class="panel-heading head">
      <div class="panel-title title">
        <div class="div-left">
          <h4>Personal Projects</h4>
        </div>
        <div class="folded">
          <h2><span> <%= link_to image_tag("empty.png" , alt: "logo", :class => "img-responsive imglogo") %></span></h2>
          <!-- <h2><img class="img-responsive" src="123.png" width="50px"></h2> -->
        </div>
      </div>
    </div>
    <!-- /Heading -->
    <!-- Body -->
    <div class="panel-body">
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project - 1: <%= link_to ('Masala Dosa').html_safe, 'https://github.com/rudhraraji/masaladosa', :target=>"_blank" %></h3>
        <p>Design and develop Responsive website for an Indian restaurant located in Cranbourne.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p> HTML5, CSS3, JQuery, Bootstrap, Parallax scroll, Photoshop</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Responsibilities</h4>
          <ul class="xplist">
            <li>Communicate and gather requirement with client</li>
            <li>Designed and develop the layout of web-page</li>
            <li>Created/Edited images in Photoshop’s</li>
            <li>Used parallax scrolling effect</li>
          </ul>
        </div>
      </div>
      <!-- /project -->
      <!-- Project -->
      <div class=" col-xs-12 col-md-12 box boxshadow">
        <h3>Project - 2: <%= link_to ('MyPortfolio').html_safe, 'https://rajiportfolio.herokuapp.com', :target=>"_blank" %> </h3>
        <p>My own Portfolio developed in Ruby on Rails. My resume can be downloaded as word/pdf/zip format from there.  Portfolio has been published in Heroku and version control using Github.</p>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h4>Skills Used</h4>
          <p>Ruby on Rails, Bootstrap, HTML5, CSS3, JQuery, Photoshop</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h4>Links</h4>
          <ul class="xplist">
            <li><%= link_to ('GIT URL').html_safe, 'https://github.com/rudhraraji/myportfolio', :target=>"_blank" %></li>
            <li><%= link_to ('Heroku URL').html_safe, 'http://rajiportfolio.herokuapp.com', :target=>"_blank" %> </li>
          </ul>
        </div>
      </div>
      <!-- /project -->
    </div>
    <!-- /Body -->
    <!-- Footer -->
    <div class="panel-footer xpfooter">
    </div>
    <!-- /Footer -->
  </div>
  <!-- /Company -->
</div>

