<h1>Know Me</h1>
<!--Intro -->
<div class="row">
    <div class="well wellblock vcenter">
        <div class="col-md-12">
            <div class="col-md-4">
                <h3 class="text-center">  
                <div class="slidingVertical vcenter">
                    <p> Hello, I'm Developer -  </p>
                        <span>Ruby on Rails</span>
                        <span>Html</span>
                        <span>css</span>
                        <span>PHP</span>
                        <span>Javascript</span>
                        <span>Wordpress</span>
                        <span>jQuery</span> 
                        <span>Photoshop</span> 
                </div>
                </h3>
            </div>
            <div class="col-md-8">
                <blockquote>
                   <p> I build customized cross-browser, cross-platform web sites and web applications. I use a wide array of the latest front end technologies, including: HTML5, CSS3, Preprocessors (LESS/SASS), etc.</p>
                   <p> I integrate your HTML and CSS templates into some of the most popular open source CMSs available (Wordpress, Opencart, Rails, etc.) or develop a custom solution for your personal needs.</p>
                    <p> I make design of layouts, design of web-pages, redesign of existing projects, responsive web-design, design of Wordpress themes and plugins, landing page design. </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- End of Intro -->
<!-- Social Icons -->
<div class="row space">
    <div class="col-md-12">
      <div class="well wellblock">
        <div class="container">
          <div class="linkbtn">
            <div class="row btn_sm-offset-6 socialButtons space">
              <div class="col-xs-4 col-sm-2">
                <li>
                  <%= link_to ('<i class="fa fa-linkedin fa-2x visible-xs"></i><span class="hidden-xs"><i class="fa fa-linkedin fa-3x"></i></span>').html_safe,'https://www.linkedin.com/in/rajirudhrakumar/', :class=> "btn btn-lg btn-block btn-linkedin", :target=>"_blank", title: '' %>
                </li>
              </div>
              <div class="col-xs-4 col-sm-2">
                <li>
                  <%= link_to ('<i class="fa fa-file-word-o fa-2x visible-xs"></i><span class="hidden-xs"><i class="fa fa-file-word-o fa-3x"></i></span>').html_safe, doc_path, :class=> "btn btn-lg btn-block btn-docx", title: '' %>
                </li>
              </div>
              <div class="col-xs-4 col-sm-2">
                <li>
                  <%= link_to ('<i class="fa fa-file-zip-o fa-2x visible-xs"></i><span class="hidden-xs"><i class="fa fa-file-zip-o fa-3x"></i></span>').html_safe, zip_path, :class=> "btn btn-lg btn-block btn-zip" , title: '' %>
                </li>
              </div>
              <div class="col-xs-4 col-sm-2">
                <li>
                  <%= link_to ('<i class="fa fa-file-pdf-o fa-2x visible-xs"></i><span class="hidden-xs"><i class="fa fa-file-pdf-o fa-3x"></i></span>').html_safe, pdf_path, :class=> "btn btn-lg btn-block btn-pdf", title: '' %>
                </li>
              </div>
              <div class="col-xs-4 col-sm-2">
                <li>
                  <%= link_to ('<i class="fa fa-github fa-2x visible-xs"></i><span class="hidden-xs"><i class="fa fa-github fa-3x"></i></span>').html_safe, 'https://github.com/rudhraraji/myportfolio', :class=> "btn btn-lg btn-block btn-github", :target=>"_blank" ,title: '' %>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!--  End of Social Icons -->
 <!-- Contact Info -->      
<div class="row space">
    <div class="col-md-12">
      <div class="well wellblock">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="block block-1">
            <h1><span class="fa fa-phone"></span></h1>
            <h3>Phone</h3>
            <p>0421355709</p>
            <br>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="block block-2">
            <h1><span class="fa fa-envelope"></span></h1>
            <h3>E-mail</h3>
            <p>rudhraraji@gmail.com</p>
            <br>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="block block-3">
            <h1><span class="fa fa-map-marker"></span></h1>
            <h3>Location</h3>
            <p>80 Strabane Way, Hampton Park, VIc- 3976</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="block block-4">
            <h1><span class="fa fa-cog fa-spin"></span></h1>
            <h3>Working In</h3>
            <p>www.12three.com.au</p>
          </div>
        </di
        v>
      </div>
    </div>
</div>
<!-- End of Info -->
                