
<h1>Portfolio</h1>
<!--Portfolio -->
<div class="row">
  <div class="well wellblock vcenter">
    <div class="col-md-12">
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('https://s3-ap-southeast-2.amazonaws.com/rudhraraji/masaladosa.jpg', alt: "MasalaDosa", :class => "thumbnail img-responsive"), "http://masaladosa.com.au", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('https://s3-ap-southeast-2.amazonaws.com/rudhraraji/interhampers.jpg', alt: "Interhampers", :class => "thumbnail img-responsive"), "https://store.interhampers.com.au", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('https://s3-ap-southeast-2.amazonaws.com/rudhraraji/tilerescue.jpg', alt: "Tile Rescue", :class => "thumbnail img-responsive"), "http://www.forster.tilerescue.com.au", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('https://s3-ap-southeast-2.amazonaws.com/rudhraraji/bawbawphysicians.jpg', alt: "Baw Baw Physicians", :class => "thumbnail img-responsive"), "http://12three.com.au/development/bawbawphysicians", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('https://s3-ap-southeast-2.amazonaws.com/rudhraraji/batmanshill.jpg', alt: "Batman's Hill", :class => "thumbnail img-responsive"), "http://www.batmanshill.com.au/dev-2017/", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('https://s3-ap-southeast-2.amazonaws.com/rudhraraji/sofasdirect.jpg', alt: "Sofas Direct", :class => "thumbnail img-responsive"), "http://www.sofasdirect.com.au/", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('https://s3-ap-southeast-2.amazonaws.com/rudhraraji/loxo.jpg', alt: "Loxo", :class => "thumbnail img-responsive"), "http://loxo.com.au/", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('https://s3-ap-southeast-2.amazonaws.com/rudhraraji/rajiportfolio.jpg', alt: "Portfolio", :class => "thumbnail img-responsive"), "http://rajiportfolio.herokuapp.com", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('feathers.jpg', alt: "Feathers", :class => "thumbnail img-responsive"), "https://www.feathers.com.au", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag('auctionlights.jpg', alt: "Auction Lights", :class => "thumbnail img-responsive"), "http://develop.auctionlights.com.au", target: :_blank %></div>
    </div>
  </div>
</div>
