<h1>Portfolio</h1>
<!--Portfolio -->
<div class="row">
  <div class="well wellblock vcenter">
    <div class="col-md-12">
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag("masaladosa.jpg", alt: "MasalaDosa", :class => "thumbnail img-responsive"), "#", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag("interhampers.jpg", alt: "Interhampers", :class => "thumbnail img-responsive"), "https://store.interhampers.com.au", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag("tilerescue.jpg", alt: "Tile Rescue", :class => "thumbnail img-responsive"), "http://www.forster.tilerescue.com.au", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag("bawbawphysicians.jpg", alt: "Baw Baw Physicians", :class => "thumbnail img-responsive"), "http://12three.com.au/development/bawbawphysicians", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag("batmanshill.jpg", alt: "Batman's Hill", :class => "thumbnail img-responsive"), "http://www.batmanshill.com.au/dev-2017/", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag("sofasdirect.jpg", alt: "Sofas Direct", :class => "thumbnail img-responsive"), "http://www.sofasdirect.com.au/", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag("loxo.jpg", alt: "Loxo", :class => "thumbnail img-responsive"), "http://loxo.com.au/", target: :_blank %></div>
      <div class="col-lg-3 col-sm-4 col-xs-6"><%= link_to image_tag("rajiportfolio.jpg", alt: "Portfolio", :class => "thumbnail img-responsive"), "http://rajiportfolio.herokuapp.com", target: :_blank %></div>
    </div>
  </div>
</div>
